---

import ServiceCar from "../components/dashboard/ServiceCar.astro";
import Dashcard from "../components/dashboard/Dashcard.astro";
import { firebase } from "../firebase/config";
import "@fontsource-variable/quicksand";
//import { usuarioss } from "../data/usuarios.json";
import CardChart from "../components/dashboard/CardChart.astro";
import { collection, getDocs } from "firebase/firestore";
//firestor datos de base de datos

const querySnapshot = await getDocs(collection(firebase.db , "userscp"))
const {docs} = querySnapshot
const romeo = docs.map(contactos => ({
    id:contactos.id,
    datos: contactos.data()
}))

const userfire = firebase.auth.currentUser;
const newuser= romeo.find((e) => e.datos.email == userfire.email);
     
//console.log(newuser)
    
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Dashboard-Coprac</title>
    </head>
    <body>
        <main>
           <div class="header">
                <h3>CO<span>PRAC</span> LTD.</h3>
                <button class="out" id="logout">Salir</button>
            </div>
            <p class="time">{new Date().toLocaleString()}</p>

            <article class="person">
                <img src="/asset/user2.png" alt="" />
                <div class="body-info">
                    <div class="person-info">
                        <h3>{newuser.datos.nombre}</h3>
                        <h4>Revisacion Medica - {newuser.datos.fecha} </h4>
                        <h4>Habilitacion - <span>{newuser.datos.habilitacion}</span></h4>
                        <h4>{newuser.datos.email}</h4>
                    </div>
                    <div class="person-data">
                        <a href='/protected/boleta' target="_blank">Boleta</a>
                        <a href=>recibo dos</a>
                    </div>
                </div>
            </article>
            <section class="first-main">
                <section class="firstbox">
                    <Dashcard
                        titulo="PIZARRA web"
                        link="http://pilotmanagercoprac.ddns.net/Account/GoInfoMovimientos?token=bd7f3f0a-a1de-4ae9-85aa-55dcaf49cbf1"
                        img="/asset/104.webp"
                    />
                    <Dashcard
                        titulo="CRONOGRAMA DE FRANCOS"
                        link="https://docs.google.com/spreadsheets/d/16fb6meAHXhXH3G58hbWSvsAbdr5x_Qct/edit?usp=drive_link&ouid=108091066637960145705&rtpof=true&sd=true"
                        img="/asset/excel2.png"
                    />
                    <Dashcard 
                        titulo="PRACTICOS"
                        link="/protected/team"
                        img="/asset/buquewep.webp"
                    />


                </section>

                <section class="secondbox">
                    <ServiceCar />
                </section>
                <section class="threebox">
                    <Dashcard
                        titulo="INF. FINANCIERO"
                        img="/asset/informefin.webp"
                        link="https://drive.google.com/file/d/1fK70tPrrou3f3eFubuix1F2B7s3O39bC/view?usp=sharing"
                    />
                    <Dashcard
                        titulo="ULTIMO BALANCE"
                        img="/asset/balances.webp"
                    />
                </section>
            </section>
            
            <CardChart />
        </main>
    </body>
    <script>
        import { actions } from "astro:actions";

        const logOutelem = document.querySelector("#logout") as HTMLLIElement;
        logOutelem?.addEventListener("click", () => {
            actions.logout();
            window.location.replace("/");
        });
    </script>
</html>

<style>
    html {
        scroll-behavior: smooth;
    }
    body {
        margin: 0;
        padding: 0;
        width: 100%;
        margin: auto;
        max-width: 1280px;
        background: #292f4a;
        background: radial-gradient(
            circle,
            rgba(41, 47, 74, 1) 0%,
            rgba(2, 6, 23, 1) 90%
        );
        box-sizing: border-box;
        font-family: "Quicksand Variable", sans-serif;
    }
    h4,
    h3 {
        padding: 0;
        margin: 0;
    }
    .header {
        width: 90%;
        height: 70px;
        margin: 0 auto;
        border-bottom: 2px solid rgb(189, 0, 33);
        display: flex;
        justify-content: space-between;
        align-items: center;
        h3 {
            font-size: 34px;
            color: #fff;
        }
        span {
            color: rgb(189, 0, 33);
        }
        .out {
            padding: 10px 25px;
            background-color: rgb(189, 0, 33);
            color: #fff;
            font-size: 16px;
            border-radius: 10px;
            font-size: 16px;
            border: 0;
            cursor: pointer;
        }
    }
    .time {
        color: #fff;
        font-size: 18px;
        text-align: center;
    }
    .first-main {
        width: 95%;
        height: auto;
        margin: 0 auto;
        
        background-color: #0b1422;
        border-radius: 15px;
    }
    .firstbox {
        width: 80%;
        margin: 0 auto;
        padding-top: 25px;
        height: 150px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .secondbox {
        width: 80%;
        height: 150px;
        margin: 0 auto;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .threebox {
        width: 80%;
        margin: 0 auto;
        padding-bottom: 25px;
        height: 150px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .person {
        margin: 20px auto 30px;
        background: #536976; /* fallback for old browsers */
        background: -webkit-linear-gradient(
            to right,
            #292e49,
            #536976
        ); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(
            to right,
            #292e49,
            #536976
        ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
        overflow: hidden;
        width: 700px;
        height: 250px;
        border-radius: 10px;
        border: 1px solid #111c2d;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        img {
            width: 180px;
            border: 5px solid #111c2d;
            margin: 15px;
            padding: 5px;
            border-radius: 85% 15% 59% 41% / 30% 62% 38% 70%;
            background-color: #fff;
        }
    }
    .body-info {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 550px;
    }
    .person-info {
        padding: 15px;
        height: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        h3 {
            color: #fff;
            font-size: 26px;
        }
        h4 {
            color: #fff;
        }
    }
    .person-data {
        border-top: 1px solid #111c2d;
        height: 70px;
        padding: 10px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 20px;
        a {
            color: #fff;
            border-radius: 5px;
            border: 1px solid #111c2d;
            background-color: #0b1422;
            font-size: 18px;
            text-decoration: none;
            padding: 10px 22px;
        }
    }

    @media (max-width: 900px) {
        .firstbox {
            width: 100%;
            height: 350px;
            padding-top: 10px;
            display: flex;
            flex-direction: column;
        }
        .secondbox {
            width: 100%;
            height: 270px;
            display: flex;
            justify-content: space-evenly;
        }
        .threebox {
            width: 100%;
            height: 230px;
            padding-top: 0px;
            padding-bottom: 8px;
            display: flex;
            flex-direction: column;
        }
        .person {
            width: 92%;
            height: 400px;
            border-radius: 25px;
            display: flex;
            flex-direction: column;
            align-items: center;
            img {
                width: 120px;
                padding: 0;
            }
        }
        .body-info {
            width: 100%;
            
        }
        .person-info {
            padding: 0;
            h3 {
                font-size: 26px;
            }
            h4 {
                font-size: 18px;
            }
        }
    }
</style>
